<include file="Application/Admin/View/Index/header.html"/>
<include file="Application/Admin/View/Index/leftSide.html"/>
<div class="col-lg-10 main">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-tag"></span><a href="admin.php?c=PositionContent">推荐位内容管理</a></li>
        <li class="active">推荐位内容列表</li>
    </ol>
    <form class="form-horizontal" role="form" method="post"  action="admin.php?c=PositionContent">
        <div class="row messageSearch">
            <div class="col-lg-2">
                <a href="admin.php?c=PositionContent&a=add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>添加推荐内容</button></a>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">推荐位</span>
                    <select class="form-control" name="position_id">
                        <option selected value="">全部</option>
                        <foreach name="positionList" item="vo">
                            <option value="{$vo.id}" <if condition="$vo.id eq $pagCondation['position_id']">selected</if>>{$vo.name}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <div class="input-group col-lg-4">
                <span class="input-group-addon">查找</span>
                <input type="text" class="form-control" name="title" placeholder="搜索标题" value="{$pagCondation['title']}">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
            </div>
        </div>
    </form>

    <table class="table table-hover table-bordered">
        <tr>
            <th>id</th>
            <th>排序</th>
            <th>所在推荐位</th>
            <th>标题</th>
            <th>缩略图</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        <foreach name="perPageList" item="vo" >
            <tr index="{$vo.news_id}">
                <td>{$vo.id}</td>
                <td  class="contentOrder"><input type="text" value="{$vo.listorder}"></td>
                <td>{$vo.position_id}</td>
                <td>{$vo.title}</td>
                <td><img style="width:30px;height: 30px;" src="{$vo.thumb}" alt="{$vo.title}"></td>
                <td>{$vo.status|getStatus}</td>
                <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                <td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
                <td>
                    <a href="admin.php?c=PositionContent&a=edit&id={$vo.news_id}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                    <button class="btn btn-danger del"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </foreach>
    </table>
    <div class="updateOrder">
        <button type="button" class="btn btn-primary order"><span class="glyphicon glyphicon-plus"></span>更新排序</button>
    </div>
    <nav class="page-group"><ul class="pagination">{$pagUi}</ul></nav>
</div>
</div>
</div>
<script src="Public/js/jquery.1.10.2.js"></script>
<script src="Public/js/bootstrap.js"></script>
<script src="Public/js/layer.js"></script>
<script src="Public/js/dialog.js"></script>
<script src="Public/js/admin/btnClick.js"></script>
<script src="Public/js/util.js"></script>
<script>
    delBtn("admin.php?c=PositionContent&a=del&id=","admin.php?c=PositionContent");//删除推荐位内容
    orderBtn("admin.php?c=Content&a=updateOrder","admin.php?c=PositionContent");//更新推荐位文章排序
</script>
</body>
</html>