<include file="Application/Admin/View/Index/header.html"/>
<include file="Application/Admin/View/Index/leftSide.html"/>
<div class="col-lg-10 main">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-tag"></span><a href="admin.php?c=User">菜单管理</a></li>
        <li class="active">添加菜单</li>
    </ol>
    <form class="form-horizontal" role="form" id="adminMessage">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-6">
                <input type="hidden" name="admin_id" value="{$adminList['0']['admin_id']}">
                <input type="text" class="form-control" id="username" name="username" value="{$adminList['0']['username']}" placeholder="请输入用户名">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" name="password" value="" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
            <label for="repassword" class="col-sm-2 control-label">重复密码</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="repassword" name="repassword" value="" placeholder="请再次输入">
            </div>
        </div>
        <div class="form-group">
            <label for="realname" class="col-sm-2 control-label">真实姓名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="realname" name="realname" value="{$adminList[0]['realname']}" placeholder="请输入真实姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="email" name="email" value="{$adminList[0]['email']}" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="status" id="status1" value="1" <if condition="$adminList[0]['status'] eq '1'"> checked</if>>
                        启用
                    </label>
                    <label>
                        <input type="radio" name="status" id="status2" value="0" <if condition="$adminList[0]['status'] eq '0'"> checked</if>>
                        禁用
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="btnClick.editUser();">提交</button>
                <button type="reset" class="btn btn-default">重填</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
<script src="Public/js/jquery.1.10.2.js"></script>
<script src="Public/js/bootstrap.js"></script>
<script src="Public/js/layer.js"></script>
<script src="Public/js/dialog.js"></script>
<script src="Public/js/admin/btnClick.js"></script>
</body>
</html>