body{
    overflow: hidden;
}
a:hover{
    text-decoration: none;
}
.header{
    width:100%;
    height: 60px;
    background: #3a3e4a;
    line-height: 60px;
    color: #FFFFFF;
}
.header .title a{
    color: #FFFFFF;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.personal{
    float: right;
    padding: 0px 10px;
    height:58px;
}
.personal a{
    color: #FFFFFF;
    padding:0px 5px;
}
.main{
    height: 550px;
    overflow: auto;
    padding-right: 2%;
}
.leftSide{
    background: #3a3e4a;
    height: 600px;
}
.leftSide .list-group li{
    width:100%;
    padding-left: 5%;
    height:35px;
    line-height: 35px;
}
.leftSide .list-group li a{
    display: inline-block;
    width:100%;
    color: #FFFFFF;
}
.leftSide .list-group li:first-child{
    background: #333;
}
.leftSide .list-group li:hover{
    background: #333;
}
.leftSide span,.breadcrumb span{
    margin-right: 5px;
}
.panel{
    width:45%;
    margin:1%;
    float: left;
}
.panel .panel-heading span{
    font-size: 50px;
}
.dataTitle{
    float: right;
}
.dataTitle p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.loginCount .panel-heading{
    background: #6ea5dd;
    color: #FFFFFF;
}
.loginCount .rightClick,.loginCount .panel-body a{
    color: #6ea5dd;
}
.loginCount{
    border-color:#6ea5dd;
}
.articleCount .panel-heading{
    background: #5bba5b;
    color: #FFFFFF;
}
.articleCount .rightClick,.articleCount .panel-body a{
    color: #5bba5b;
}
.articleCount{
    border-color:#5bba5b;
}
.maxRead .panel-heading{
    background: #f7ae4b;
    color: #FFFFFF;
}
.maxRead .rightClick,.maxRead .panel-body a{
    color: #f7ae4b;
}
.maxRead{
    border-color:#f7ae4b;
}
.recommendCount .panel-heading{
    background: #de524b;
    color: #FFFFFF;
}
.recommendCount .rightClick,.recommendCount .panel-body a{
    color: #de524b;
}
.recommendCount{
    border-color:#de524b;
}
.rightClick{
    float: right;
}
.addMenu{
    margin: 5px;
}
table{
    margin-top: 10px;
}
table tr th,tr td{
    text-align: center;
}
.menuOrder,.contentOrder{
    width:10%;
}
.menuOrder input,.contentOrder input{
    width:40%;
    text-align: center;
}
ol{
    margin-top: 10px;
}
.updateAndPush{
    margin: 10px 0px;
}
.page-group{
    text-align: center;
}
.configure{
    margin:10px 0px;
}
.view{
    width:100%;
}
.view p{
    width:100%;
}
.view img{
    width:100%;
}

